<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ps_checkout</name>
	<displayName><![CDATA[PrestaShop Checkout]]></displayName>
	<version><![CDATA[2.20.2]]></version>
	<description><![CDATA[Provide the most commonly used payment methods to your customers in this all-in-one module, and manage all your sales in a centralized interface.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
