includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../classes
		- ../../controllers
		- ../../src
		- ../../ps_checkout.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Cannot assign offset "merchant…" to string\|true.#'
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Strict comparison using === between false and string will always evaluate to false.#'
		- '#Call to function is_array\(\) with Currency will always evaluate to false.#'
		- '#Parameter \#1 \$id of class Customer constructor expects null, bool\|int<1, max>\|int<min, -1> given.#'
		- '#Parameter \#1 \$id of class Customer constructor expects null, int<min, -1>\|int<1, max> given.#'
		- '#Parameter \#1 \$id of class Customer constructor expects null, int given.#'
		- '#Parameter \#1 \$hook_name of method ModuleCore::registerHook\(\) expects string, array<int, string> given.#'
		- '#Parameter \#6 \$idShop of method LinkCore::getModuleLink\(\) expects null, int given.#'
		- '#Call to an undefined method\(\) AdminController|FrontController::getCheckoutProcess\(\).#'
		- '#Parameter \#1 \$id_hook of method ModuleCore::updatePosition\(\) expects bool, int given.#'
		- '#Property TabCore::\$name \(string\) does not accept array.#'
		- '#Access to an undefined property PaymentModule::\$currentOrderReference.#'
		- '#Property CustomerCore::\$passwd \(int\) does not accept bool\|string.#'
		- '#Property CustomerCore::\$passwd \(int\) does not accept string.#'
		- '#Parameter \#4 \$ssl of method LinkCore::getModuleLink\(\) expects null, true given.#'
		- '#Parameter \#1 \$id of class Customer constructor expects null, int<1, max>\|int<min, -1> given.#'
		- '#Property CustomerMessageCore::\$ip_address \(string\) does not accept int.#'
		- '#Left side of \&\& is always true.#'
		- '#Parameter \#7 \$currency_special of method PaymentModuleCore::validateOrder\(\) expects null, int given.#'
		- '#Parameter \#9 \$secure_key of method PaymentModuleCore::validateOrder\(\) expects bool, string given.#'
		- '#Property PrestaShop\\Module\\PrestashopCheckout\\Repository\\PsAccountRepository::\$psAccountsService has unknown class PrestaShop\\Module\\PsAccounts\\Service\\PsAccountsService as its type.#'
		- '#Call to method getEmail\(\) on an unknown class PrestaShop\\Module\\PsAccounts\\Service\\PsAccountsService.#'
		- '#Call to method getOrRefreshToken\(\) on an unknown class PrestaShop\\Module\\PsAccounts\\Service\\PsAccountsService.#'
		- '#Call to method getRefreshToken\(\) on an unknown class PrestaShop\\Module\\PsAccounts\\Service\\PsAccountsService.#'
		- '#Call to method getShopUuidV4\(\) on an unknown class PrestaShop\\Module\\PsAccounts\\Service\\PsAccountsService.#'

	level: 5
