parameters:
	bootstrap: /web/module/tests/phpstan/bootstrap.php
	paths:
		- /web/module/classes
		- /web/module/controllers
		- /web/module/prestashoppayments.php
	excludes_analyse:

	ignoreErrors:

	level: 1