parameters:
	bootstrap: tests/phpstan/bootstrap.php
	paths:
		- classes
		- controllers
		- ps_checkout.php
	ignoreErrors:
		- '#Access to an undefined property ps_checkout::\$confirmUninstall\.#'
		- '#Access to an undefined property ps_checkout::\$bootstrap\.#'
		- '#Cannot assign offset "merchant…" to string|true.#'
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Strict comparison using === between false and string will always evaluate to false.#'
		- '#Call to function is_array\(\) with Currency will always evaluate to false.#'
		- '#Parameter \#1 \$id of class Customer constructor expects null, int given.#'
		- '#Parameter \#1 \$hook_name of method ModuleCore::registerHook\(\) expects string, array<int, string> given.#'

	level: 5