parameters:
	bootstrap: tests/phpstan/bootstrap.php
	paths:
		- classes
		- controllers
		- ps_checkout.php
	dynamicConstantNames:
		- _PS_VERSION_
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Cannot assign offset "merchant…" to string|true.#'
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Strict comparison using === between false and string will always evaluate to false.#'
		- '#Call to function is_array\(\) with Currency will always evaluate to false.#'
		- '#Parameter \#1 \$id of class Customer constructor expects null, int given.#'
		- '#Parameter \#1 \$hook_name of method ModuleCore::registerHook\(\) expects string, array<int, string> given.#'
		- '#Call to an undefined method\(\) AdminController|FrontController::getCheckoutProcess\(\).#'
		- '#Parameter \#1 \$id_hook of method ModuleCore::updatePosition\(\) expects bool, int given.#'
		- '#Property TabCore::\$name \(string\) does not accept array.#'
		- '#Access to an undefined property PaymentModule::\$currentOrderReference.#'
		- '#Property CustomerCore::\$passwd \(int\) does not accept bool|string.#'

	level: 5
