#app {
  all: initial;
}
/* #app *:not(div) {
    all: unset;
} */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
#app label {
  font-weight: unset;
  max-width: unset;
}
#app .card-header {
  padding: 10px !important;
  padding: .625rem !important;
  border-bottom: 1px solid #dbe6e9 !important;
  line-height: 24px !important;
  line-height: 1.5rem !important;
}
#content.bootstrap .panel-heading, #content.bootstrap h3:not(.modal-title) {
  border: unset;
  border-bottom: unset;
  font-size: unset;
  height: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
  text-transform: unset;
}
#app h3.card-header {
  font-size: 16px !important;
  font-size: 1rem !important;
}
#app input {
  height: unset;
}
.icon-caret-up:before {
  content: unset;
}
.icon-caret-up:after {
  content: unset;
}
.material-icons.js-mobile-menu {
  display: none;
}
